exportPattern("^[[:alpha:]]+")
import(rvest)
importFrom("grDevices", "rainbow")
importFrom("graphics", "image", "plot", "segments", "text")
importFrom("utils", "download.file", "tail")
importFrom("stats", "median")
